<div fxFlex="100" fxLayout="row" style="height: 100vh">
    <div fxFlex.xl="17" fxFlex.lg="17" fxFlex.sx="5" fxHide.xs class="mat-bg-light">
        <admin-side-nav-list fxFlex="100"></admin-side-nav-list>
    </div>
    <div fxFlex.xl="83" fxFlex.lg="83" fxFlex.sx="95" fxLayout="column" style="overflow: auto;">
        <admin-toolbar-list></admin-toolbar-list>
        <div class="m-3" fxFlex="100" fxLayout="row">
            <div fxFlex.xl="70" fxFlex.lg="70" fxFlex.sx="95" fxLayout="column">

                <div class="" fxFlex="100">
                    <h2>Course Name > Lecture 1</h2>
                    <div class="mr-4">
                        <video poster="assets/images/uiux.jpeg" class="playing-video" width="320" height="240" controls>
                            <source src="assets/videos/lecture.mp4" type="video/mp4">
                        </video>
                    </div>

                    <h2>{{currentLecture.title}}</h2>

                    <div>
                        <span>rating </span><app-rating-star [rating]="currentLecture.rating"></app-rating-star>
                    </div>
                    

                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                              description
                            </ng-template>
                           {{currentLecture.description}}
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                             rewords
                            </ng-template>
                            Content 2
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon>thumb_up</mat-icon>
                                Third
                            </ng-template>

                            Content 3
                        </mat-tab>
                    </mat-tab-group>
                </div>

                <!-- video -->
                



            </div>
            <div fxFlex.xl="30" fxFlex.lg="30" fxFlex.sx="5" fxHide.xs class="">
                <h2 class="mt-5">lectures</h2>
                <mat-card *ngFor="let lecture of lectures" class="mat-bg-light my-2">
                    <mat-card-header class="p-0">
                        <img   src="{{lecture.image}}" class="lecture-img">
                        <mat-card-title-group class="px-2">

                            
                            <mat-card-title style="font-size: 16px;">{{lecture.title}}</mat-card-title>
                            <mat-card-subtitle>
                                <mat-card-actions>
                                    <mat-icon>access_time</mat-icon> {{ lecture.length | minToLength }}    
                                    <div class="h-divider" ></div>
                                    <mat-icon>thumb_up</mat-icon>{{lecture.likes}}
                                </mat-card-actions>
                                
                              <!--   <mat-icon>access_time</mat-icon> {{lecture.length}} min  |  
                                <mat-icon>thumb_up</mat-icon> {{lecture.length}} -->
                            </mat-card-subtitle>

                        </mat-card-title-group>
                    </mat-card-header> 
                </mat-card>
            </div>

        </div>
    </div>

</div>

<!-- <div fxLayout="column">
    <admin-toolbar-list></admin-toolbar-list>
    
</div> -->