<span *ngIf="rating===1">
    <mat-icon class="text-gold">star_rate</mat-icon>
</span>

<span *ngIf="rating===1.5">
    <mat-icon class="text-gold">star_rate</mat-icon>
</span>

<span *ngIf="rating===2">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
</span>
<span *ngIf="rating===3">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
</span>
<span *ngIf="rating===3.5">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
   <!--  <mat-icon class="half-colored">star_rate</mat-icon> -->
</span>
<span *ngIf="rating===4">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
</span>
<span *ngIf="rating===5">
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
    <mat-icon class="text-gold">star_rate</mat-icon>
</span>