<h2 mat-dialog-title class="text-capitalize">{{'add_new_course'|translate}}</h2>
<mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutAlign="center " fxFlex.xs="100" fxFlex="100">

        <mat-form-field class="mt-3">
            <mat-label>{{'course_title'|translate}} </mat-label>
            <input matInput [placeholder]="'course_title'|translate" type="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'course_describtion'|translate}} </mat-label>
            <textarea matInput [placeholder]="'course_describtion'|translate" type="text"></textarea>
        </mat-form-field>





        <section fxLayout="row" fxLayoutAlign="space-between center">
           
            <mat-form-field fxFlex="70">
                <mat-label>{{'price'|translate}} </mat-label>
                <input matInput [placeholder]="'price'|translate" type="text">
            </mat-form-field>

            <mat-checkbox color="primary">
                <span class="mat-text-secondary f-w-500">{{'is_course_free'|translate}}</span>
            </mat-checkbox>

        </section>



        <div *ngIf="currentFile && progress" class="progress my-3">
            <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
            </div>
        </div>

        <label for="file-input">

            <!--    <button mat-icon-button><mat-icon>camera_alt</mat-icon></button> -->
            <img [src]="preview!=='' ? preview : defaultPreview" class="upload-course-img" />
            <input type="file" id="file-input" accept="image/*" (change)="selectFile($event)"
                style="visibility: hidden; position: absolute;" />
        </label>




    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center ">
    <button mat-button mat-dialog-close>{{'cancel' | translate}}</button>
    <button type="submit" mat-raised-button color="primary">{{'save' | translate}}</button>
</mat-dialog-actions>