<ng-container *ngIf="formControl">

    <mat-error *ngIf="formControl?.hasError('maxlength')&& (formControl.dirty || formControl.touched)">
        <span> {{'max_length_is'|translate}} : {{formControl?.errors?.['maxlength']?.requiredLength}}</span>
    </mat-error>
    <mat-error *ngIf="formControl?.hasError('minlength')&& (formControl.dirty || formControl.touched)">
        <span> {{'min_length_is'|translate}} : {{formControl?.errors?.['minlength']?.requiredLength}}</span>
    </mat-error>


    <mat-error *ngIf="formControl?.hasError('max')&& (formControl.dirty || formControl.touched)">
        <span> {{'max_value_is'|translate}} : {{formControl?.errors?.['max']?.max}} </span>
    </mat-error>

    <mat-error *ngIf="formControl?.hasError('min')&& (formControl.dirty || formControl.touched)">
        <span> {{'min_value_is'|translate}} : {{formControl?.errors?.['min']?.max}} </span>
    </mat-error>
</ng-container>