<mat-list>
    <mat-list-item>
        <mat-icon matListItemIcon class="text-primary">group</mat-icon>
        <div matListItemTitle>frinds</div>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon class="text-info">save_alt</mat-icon>
        <div matListItemTitle>saved</div>
    </mat-list-item>


    <mat-list-item>
        <mat-icon matListItemIcon class="text-warning">store</mat-icon>
        <div matListItemTitle>marketplace</div>
    </mat-list-item>


    <mat-list-item>
        <mat-icon matListItemIcon class="text-danger">folder</mat-icon>
        <div matListItemTitle>memories</div>
    </mat-list-item>


    <mat-list-item>
        <mat-icon matListItemIcon class="text-success">access_time</mat-icon>
        <div matListItemTitle>memories</div>
    </mat-list-item>


    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>memories</div>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>memories</div>
    </mat-list-item>

    <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>memories</div>
    </mat-list-item>


</mat-list>