<div class="container">
    <mat-toolbar class="bg-transparent">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>E Learning</span>
        <span class="example-spacer"></span>

        <div fxLayout="row" fxLayoutGap="30">
            <span>Home</span>
            <span>About Us</span>
            <span>Services</span>
            <span>Comunity</span>
        </div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>

    <div fxLayout="row" fxFlexAlign="space-between">
        <div fxLayout="column" fxFlexAlign="center" fxFlex="50">
            <span style="font-size: 2.1rem; font-weight: bold;">
                improve yous skills
            </span>
        </div>
        <img fxFlex="50" src="/assets/images/student_girl.png">
    </div>

    <div fxLayout="row" fxFlexAlign="space-between" class="mt-5">
        <div fxLayout="column" fxFlexAlign="center" fxFlex="20">
            <span style=" font-weight: bold;">
                Recent Uploadded
            </span>
        </div>
        <div fxLayout="row" fxFlex="80" fxLayoutAlign="space-around center" fxLayoutGap="40">

            <span>
                <span>+100</span>
                <br>
                <span>lecture</span>
            </span>

            <span>
                <span>+100</span>
                <br>
                <span>lecture</span>
            </span>

            <span>
                <span>+100</span>
                <br>
                <span>lecture</span>
            </span>

            <span>
                <span>+100</span>
                <br>
                <span>lecture</span>
            </span>
        </div>
    </div>

    <div fxLayout="row" fxFlexAlign="space-between" class="mt-5">
        <div fxLayout="column" fxFlexAlign="center" fxFlex="100">
            <span style=" font-weight: bold;">
                New Cources
            </span>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10" fxFlex="73%" fxFlex.lg="68%" fxFlex.md="100%" fxFlex.xs="100%" fxLayout.xs="column"
            >

                <mat-card fxFlex.xl="31.7%" fxFlex.lg="47%" fxFlex.md="47%" fxFlex.sm="100%" fxFlex.xs="100%">
                    <img mat-card-image src="/assets/images/uiux.jpeg" class="course-card-img" >
                    <mat-card-content>
                        <p class="my-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan. 
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="dark">read more</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card fxFlex.xl="31.7%" fxFlex.lg="47%" fxFlex.md="47%" fxFlex.sm="100%" fxFlex.xs="100%">
                    <img mat-card-image src="/assets/images/uiux.jpeg" class="course-card-img" >
                    <mat-card-content>
                        <p class="my-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan. 
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="dark">read more</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card fxFlex.xl="31.7%" fxFlex.lg="47%" fxFlex.md="47%" fxFlex.sm="100%" fxFlex.xs="100%">
                    <img mat-card-image src="/assets/images/uiux.jpeg" class="course-card-img" >
                    <mat-card-content>
                        <p class="my-3">
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan. 
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="dark">read more</button>
                    </mat-card-actions>
                </mat-card>

              

            </div>
        </div>


    </div>






</div>