<div class="container pb-5 mb-5" fxLayoutAlign="space-around center">


    <div fxLayout="column" fxFlex="50" fxFlex.xs="100" fxFlex.sm="100">
        <mat-card *ngFor="let post of posts" class="p-2 mt-3 elevation-2">
            <mat-card-header>
                <div fxLayout="row" fxFlex="100" fxLayoutGap="10px">
                    <img src="{{post.user.profileImageUrl}}" class="circle-avatar-md m2" />
                    <div fxFlex="column">
                        <mat-card-title>{{post.user.username}}</mat-card-title>
                        <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
                    </div>
                </div>


            </mat-card-header>
            <mat-card-content>
                <p class="subtitle-2 my-2">


                    {{post.caption}}
                </p>
            </mat-card-content>

            <img *ngIf="post.images.length===1" mat-card-image src="{{post.images[0].image_url}}"
              class="post-img"  alt="Photo of a Shiba Inu">

            <mat-grid-list *ngIf="post.images.length === 2" cols="{{post.images.length}}" cols="2" rowHeight="2:2">

                <mat-grid-tile *ngFor="let img of post.images">
                    <img loading="lazy" mat-card-image src="{{img.image_url}}" class="post-img" alt="Photo of a Shiba Inu">
                </mat-grid-tile>

            </mat-grid-list>


            <mat-grid-list *ngIf="post.images.length === 3" cols="{{post.images.length}}" >

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <img loading="lazy" mat-card-image src="{{post.images[0].image_url}}" class="post-img" alt="Photo of a Shiba Inu">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <img loading="lazy" mat-card-image src="{{post.images[1].image_url}}" class="post-img" alt="Photo of a Shiba Inu">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <img loading="lazy" mat-card-image src="{{post.images[2].image_url}}" class="post-img" alt="Photo of a Shiba Inu">
                </mat-grid-tile>

            </mat-grid-list>


            <mat-grid-list *ngIf="post.images.length === 4" cols="{{post.images.length}}" >

                <mat-grid-tile   [colspan]="2" [rowspan]="1">
                    <img loading="lazy" mat-card-image src="{{post.images[0].image_url}}" class="post-img" alt="Photo of a Shiba Inu">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <img loading="lazy" mat-card-image src="{{post.images[1].image_url}}" class="post-img" alt="Photo of a Shiba Inu">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <img loading="lazy" mat-card-image src="{{post.images[2].image_url}}" class="post-img" alt="Photo of a Shiba Inu">
                </mat-grid-tile>

                 <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <img loading="lazy" mat-card-image src="{{post.images[2].image_url}}" class="post-img" alt="Photo of a Shiba Inu">
                </mat-grid-tile>

            </mat-grid-list>

          


            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
                <button mat-button>❤😄 {{post.likesCount}}</button>
                <button mat-button (click)="openCommentsModal(post.id)">{{post.commentCount}} comments</button>
            </mat-card-actions>

            <mat-divider></mat-divider>






            <mat-expansion-panel fxLayout="column" (opened)="addCommentFormOpen = true"
                (closed)="addCommentFormOpen = false">

                <mat-expansion-panel-header>




                    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
                        <button mat-button>
                            <mat-icon>favorite_border</mat-icon>
                            Love
                        </button>
                        <button mat-button>
                            <mat-icon> chat_bubble_outline</mat-icon>
                            Comment
                        </button>
                    </mat-card-actions>

                </mat-expansion-panel-header>




                <p>I'm visible because I am open</p>
            </mat-expansion-panel>

        </mat-card>
    </div>


</div>