<div class="mat-bg-background   mt-5">


    <div fxLayout="column" fxFlex="70" style="margin: auto;">

    


        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-text-dark" class="mat-headline-4">input</p>
        </div>

        <mat-form-field class="mat-input-warn" >
            <mat-label>Company</mat-label>
            <input matInput>
        </mat-form-field>


        <br>
        <br>


        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-text-dark" class="mat-headline-4">Slider</p>
        </div>

        <mat-slider color="warn">
            <input matSliderThumb>
        </mat-slider>


        <br>
        <br>


        <mat-stepper color="success">
            <mat-step label="Step 1" state="phone">
                <p>Put down your phones.</p>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step label="Step 2" state="chat">
                <p>Socialize with each other.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step label="Step 3">
                <p>You're welcome.</p>
            </mat-step>

        </mat-stepper>


        <br>
        <br>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-text-dark" class="mat-headline-4">toolbar</p>
        </div>
        <mat-toolbar color="success">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <mat-toolbar color="danger">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <mat-toolbar color="info">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <mat-toolbar color="secondary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <mat-toolbar color="warn">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <mat-toolbar color="dark">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>


        <br>
        <br>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-text-dark" class="mat-headline-4">tabs</p>
        </div>

        <mat-tab-group color="success" mat-align-tabs="start">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
        </mat-tab-group>

        <mat-tab-group color="danger" mat-align-tabs="start">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
        </mat-tab-group>

        <mat-tab-group color="secondary" mat-align-tabs="start">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
        </mat-tab-group>


        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-text-dark" class="mat-headline-4">typography colors</p>
        </div>
        <div fxLayout="column" fxFlex="100">
            <p class="mat-headline-5 mat-text-primary">.mat-text-primary</p>
            <p class="mat-headline-5 mat-text-success">.mat-text-success</p>
            <p class="mat-headline-5 mat-text-dark">.mat-text-dark</p>
            <p class="mat-headline-5 mat-text-warn">.mat-text-warn</p>
            <p class="mat-headline-5 mat-text-info">.mat-text-info</p>
            <p class="mat-headline-5 mat-text-danger">.mat-text-danger</p>
            <p class="mat-headline-5 mat-text-secondary">.mat-text-secondary</p>
        </div>
        <mat-card class="mt-5" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
            <pre class=" language-html">
                <code >
                    {{typographyColors}}
                </code>
            </pre>
        </mat-card>
        <br>
        <br>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-text-dark" class="mat-headline-4">typography types</p>
        </div>
        <div fxLayout="column" fxFlex="100" class="pb-5">
            <p class="mat-headline-1">.mat-headline-1</p>
            <p class="mat-headline-2">.mat-headline-2</p>
            <p class="mat-headline-3">.mat-headline-3</p>
            <p class="mat-headline-4">.mat-headline-4</p>
            <p class="mat-headline-5">.mat-headline-5</p>
            <p class="mat-headline-6">.mat-headline-6</p>
            <p class="mat-subtitle-1">.mat-subtitle-1</p>
            <p class="mat-subtitle-2">.mat-subtitle-2</p>
            <p class="mat-body-1">.mat-body-1</p>
            <p class="mat-body-2">.mat-body-2</p>
            <p class="mat-caption-2">.mat-caption</p>
            <p class="mat-button-2">.mat-button</p>
        </div>
        <mat-card class="mt-5" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
            <pre class=" language-html">
                <code >
                    {{typographySizes}}
                </code>
            </pre>
        </mat-card>

        <br>
        <br>







        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-headline-4">basic</p>
        </div>

        <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
            <button fxFlex="100" mat-raised-button color="primary">primary</button>
            <button fxFlex="100" mat-raised-button color="secondary">secondary</button>
            <button fxFlex="100" mat-raised-button color="success">success</button>
            <button fxFlex="100" mat-raised-button color="warn">warn</button>
            <button fxFlex="100" mat-raised-button color="danger">danger</button>
            <button fxFlex="100" mat-raised-button color="info">info</button>
            <button fxFlex="100" mat-raised-button color="dark">dark</button>
        </div>
        <mat-card class="mt-5" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
            <pre class=" language-html">
               
                    {{basicButtonsCode}}
                
            </pre>
        </mat-card>
        <hr>
        <br>
        <br>


        <div fxLayout="row " fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-headline-4">basic with icons</p>
        </div>

        <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
            <button fxFlex="100" mat-raised-button color="primary"><mat-icon>delete</mat-icon>primary</button>
            <button fxFlex="100" mat-raised-button color="secondary"><mat-icon>delete</mat-icon>secondary</button>
            <button fxFlex="100" mat-raised-button color="success"><mat-icon>settings</mat-icon>success</button>
            <button fxFlex="100" mat-raised-button color="warn"><mat-icon>thumb_up</mat-icon>warn</button>
            <button fxFlex="100" mat-raised-button color="danger"><mat-icon>visibility</mat-icon>danger</button>
            <button fxFlex="100" mat-raised-button color="info"><mat-icon>network_wifi</mat-icon>info</button>
            <button fxFlex="100" mat-raised-button color="dark"><mat-icon>folder</mat-icon>dark</button>
        </div>

        <mat-card class="mt-5" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
            <pre>
                <code >
                    {{buttonsWithIconsCode}}
                </code>
            </pre>
        </mat-card>
        <hr>

        <br>
        <br>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-headline-4">light buttons</p>
        </div>

        <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
            <button fxFlex="100" mat-raised-button color="light-primary">light primary</button>
            <button fxFlex="100" mat-raised-button color="light-secondary">light secondary</button>
            <button fxFlex="100" mat-raised-button color="light-success">light success</button>
            <button fxFlex="100" mat-raised-button color="light-warn">light warn</button>
            <button fxFlex="100" mat-raised-button color="light-danger">light danger</button>
            <button fxFlex="100" mat-raised-button color="light-info">light info</button>
            <button fxFlex="100" mat-raised-button color="light-dark">light dark</button>
        </div>
        <mat-card class="mt-5" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center">
            <pre>
                <code >
                    {{lightButtonsCode}}
                </code>
            </pre>
        </mat-card>
        <hr>
        <br>
        <br>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start">
            <p class="mat-headline-4">icons</p>
        </div>
        <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-between center" style="margin-bottom: 160px;">
            <mat-icon color="danger">delete</mat-icon>
            <mat-icon color="accent">settings</mat-icon>
            <mat-icon color="primary">thumb_up</mat-icon>
            <mat-icon color="warn">visibility</mat-icon>
            <mat-icon color="info">network_wifi</mat-icon>
            <mat-icon color="secondary">folder</mat-icon>

        </div>





    </div>
</div>